*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
}
body{
    position: relative;
    background-color: white;
}
.containerup{
    width: 100%;
    height: 100vh;
    background-color: #c10404;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.bg{
    opacity: 0.1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
}
.title{
    top: 0;
    width: fit-content;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title__content{
    text-align: center;
    padding-top: 20px;
    color: white;
}
.title h1{
    font-size: 6rem;
    width: 100%;
    font-family: 'Lora', serif;
}
.title p , .title span{
    font-size: 2.5rem;
    font-family: 'Lora', serif;
}
.socialmedia1{
    width: 300px;
    padding-bottom: 20px;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 999;
}
.socialmedia2{
    display: none;
}
.socialmedia1 i{
    font-size: 3.5rem;
    color: white;
    z-index: 999;
    padding: 10px;
    cursor: pointer;
    transition: .5s ease-in-out all;
}
.socialmedia1 .fa-twitter:hover{
    background-color: #00acee;
    padding: 10px;
}
.socialmedia1 .fa-github:hover{
    padding: 10px;
    color: #171515;
    background-color: white;
}
.socialmedia1 .fa-eye:hover{
    background-color: #171515;
    padding: 10px;
}
.text{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    padding-right: 50px;
}
.text h2{
    display: inline-block;;
    font-size: 6rem;
    color: white;
    height: 90px;
    width: 500px ;
    display: flex;
    align-items: flex-end;
    font-family: 'Lora', serif;
}
.text p {
    text-align: justify;  
    font-size: 2rem; 
    width: 500px; 
    font-family: 'Lora', serif;
    display: inline-block;
    color: white;
}
.text .presentation .name{
    font-size: 2.5rem;
    font-weight: bold;
}
.mockup2{
    display: none;
}
.mockup1{
    width: 1100px;
    height: 650px;
    position: absolute;
    top: 150px;
    left: -150px;
    right: 0px;
    bottom: 0px;
}
.dowload{
    width: 500px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.dowload .link-button , .button{
    color: #c10404;
    background-color: white;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 50px;
    font-size: 2rem;
    position: absolute;
    z-index: 999;
    transition: ease all 0.5s;
    cursor: pointer;
}
.dowload .button:hover{
    color: white;
    background-color: #c10404;
    font-weight: bolder;
    border: white 1px solid;
}
.containerdown{
    height: auto;
}
.ventajas{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ventajas-title{
    font-size: 5rem;
    height: fit-content;
    color: white;
    text-align: center;
    width: 100%;
    padding: 20px;
    color: #c10404;
    font-family: 'Lora', serif;
}
.ventajas article{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.ventajas div{
    color: black;
    width: 350px;
    height: 250px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.ventajas i{
    font-size: 3rem;
    color: #c10404;
}
.ventajas div h2{
    font-size: 2.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Lora', serif;
}
.ventajas div p{
    font-size: 1.8rem;
    text-align: justify;
    font-family: 'Lora', serif;
}
.opiniones{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.opiniones .testimonios{
    color: #c10404;
    font-family: 'Lora', serif;
    width: 100%;
    text-align: center;
    font-size: 5rem;
    padding: 20px;
}
.opiniones div{
    padding: 20px;
}
.opiniones div img{
    border-radius: 20px;
    border: 1px solid white;
}
.opinion1{
    width: 500px;
    height: fit-content;
}
.opinion1 img{
    width: 100%;
    height: auto;
}
.opinion2{
    width: 400px;
    height: 380px;
}
.opinion2 img{
    width: 100%;
    height: 100%;
}
.opinion3{
    height: 200px;
    width: 500px;
}
.opinion3 img {
    width: 100%;
    height: 100%;
}
.opiniones label a{
    font-size: 1.5rem;
    font-family: 'Lora', serif;
    color: #c10404;
}
i{
    padding: 5px;
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
}

.bajo{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c10404;
}
.bajo p {
    color: white;
    font-size: 2rem;
    font-family: 'Lora', serif;
}
.bajo span{
    color: gainsboro;
    font-size: 2.5rem;
    font-weight: bolder;
    font-family: 'Lora', serif;
}
@media only screen and (max-width : 900px) {
    *{
        font-size: 6px;
    }
    .title{
        width: 100%;
    }
    .title h1{
        font-size: 4.5rem;
    }
    .text{
        padding: 0px;
        margin: 0px;
        width: 100%;
    }
    .letter-container{
        width: 100%;
    }
    .letter-container h2{
        height: fit-content;
        width: 100%;
        font-size: 4.5rem;
        padding-left: 10px;
        padding-right: 10px;
    }
    .letter-container p{
        width: 100%;
        font-size: 2rem;
        padding-left: 10px;
        padding-right: 10px;
    }
    .letter-container .dowload{
        padding: 0px;
        width: 100%;
    }
    .mockup2{
        width: 600px;
        height: auto;
        display: inline-block;
    }
    .mockup1{
        display: none;
    }
    .ventajas{
        height: 100vh;
        justify-content: space-;
    }
    .ventajas div{
        padding-top: 0px;
        padding-bottom: 0px;
        height: fit-content;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .ventajas h2{
        padding-bottom: 40px;
    }
    .opiniones{
        height: fit-content;
    }
    }
    .opiniones label a{
        font-size: 2rem;
        text-decoration: none;
    }
    @media only screen and (max-height : 500px){
        .text{
            display: flex;
            flex-direction: row;
            height: auto;
            z-index: 999;
        }
        .text p{
            padding-right: 20px;
        }
        .mockup-container{
            width: fit-content;
            height: fit-content;
        }
        .text .mockup2{
            width: 450px;
            height: 250px;
        }
        .socialmedia1{
            display: none;
        }
        .socialmedia2{
            width: 300px;
            padding-bottom: 20px;
            height: fit-content;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: auto;
            z-index: 999;
        }
        .socialmedia2 i{
            font-size: 3.5rem;
            color: white;
            z-index: 999;
            padding: 10px;
            cursor: pointer;
            transition: .5s ease-in-out all;
        }
        .socialmedia2 .fa-twitter:hover{
            background-color: #00acee;
            padding: 10px;
        }
        .socialmedia2 .fa-github:hover{
            padding: 10px;
            color: #171515;
            background-color: white;
        }
        .socialmedia2zzzzzzzz .fa-eye:hover{
            background-color: #171515;
            padding: 10px;
        }
        .ventajas{
            height: auto;
        }
        .ventajas .ventajas-title{
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .opiniones label a{
            font-size: 2rem;
            text-decoration: none;
        }
    }
